# Database Configuration
DATABASE_URL=postgresql://username:password@localhost:5432/dorflix

# Server Configuration
PORT=3001
# Host address for the server to bind to. Use 0.0.0.0 to accept connections from any network.
HOST=0.0.0.0
CLIENT_URL=http://192.168:3000

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_FOLDER=dorflix_videos

# JWT Configuration (for future authentication)
JWT_SECRET=your_jwt_secret_key
